@{
    ViewData["Title"] = "Product Page";
}

<br />
<br />

<h1 class="text-center">Search Product</h1>
<div class="input-group">
    <input type="text" class="form-control input-lg" id="search-input" placeholder="Search Product...">
    <span class="input-group-btn">
        <button class="btn btn-default btn-primary btn-lg" type="button" id="search-button">Search</button>
    </span>
</div><!-- /input-group -->
<br />
<br />



<div id="product-list"></div>
